/* Grid Setup */
.top_box {
  gap: 10px;
  margin: 0 auto;
  
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 150px;

  align-items: center;
  justify-items: center;
}

/* Flex Setup */
.flex_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  gap: 10px;
}

.flex_item {
  width:75px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
}

/* History Section */
.history {
    display: flex;
    justify-content: flex-start;
}

.history_title {
    display: flex;
    width: auto;
    margin: 10px;
    align-items: center;
    justify-content: center;

}

/* Main */

/* Contact Us */
.contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: black 1px solid;
    align-items: center;
    justify-items: center;
}

/* Contact Form */
.contact-form {
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 10px;
    margin: 10px;
    width: 75%;
    border: black 1px solid;
}

.contact-form input[type=text] {
    width: 100%;
    height: 20px;
}

.contact-form input[type=email] {
    width: 100%;
    height: 20px;
}

.contact-form input[type=comment] {
    width: 100%;
    height: 50px;
}

/* Contact Info */
.contact-info {
    grid-column-start: 4;
    grid-column-end: 5;
    gap: 10px;
    margin: 10px;
    border: black 1px solid;
}

.contact-map {
    grid-column-start: 5;
    grid-column-end: 6;
    gap: 10px;
    margin: 10px;
    border: black 1px solid;
}

.contact-employees {
    display: flex;
    flex-direction: row;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 6;
    gap: 10px;
    margin: 10px;
    border: black 1px solid;
}

.contact-employees img {
    width: auto;
    height: 200px;
}