:root {    
  --primary-color: #878787;
  --secondary-color: #67785D;
  --accent1-color: #989394;
  --accent2-color: #686466;

  --font-color-dark: #000;
  --font-color-light: #fff;

  --heading-font: 'Literata';
  --body-font: 'Gentium Plus', serif, sans-serif;
}

a:link {
  text-decoration: none;
} 

a:visited {
  text-decoration: none; 
} 

a:active { 
  text-decoration: none; 
}

body {
  width: 1000px;
  margin: 0 auto;
  font-family: var(--body-font);
}

/* Header Section */
/* Grid Setup */
.top_box {
  gap: 10px;
  margin: 0 auto;
  
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 150px;

  align-items: center;
  justify-items: center;
  
}

/* Flex Setup */
.flex_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  gap: 10px;
}

.flex_item_nav {
  width:75px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
}

/* Main Section */
.top_frame {
  display: grid;
  border: 2px solid var(--accent1-color);
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 150px;
  align-items: center;
  justify-items: center;
}

.top_frame img {
  border: 2px solid var(--accent1-color);
}

.top_frame nav{
  display: flex;
}

.flex_item{
  border: 1px solid var(--accent1-color);
  background-color: rgb(196, 189, 190);
  width: 100px;
  height: 25px;
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  background-color: var(--accent2-color);
  padding: 1rem;
}

.hero article {
  position: absolute;
  top: 8rem;
  background-color: var(--accent2-color);
  color: var(--font-color-light);
  padding: 1rem;
  max-width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.8;
}


.hero img {
  width: 100%;
  height: auto;
}

.hero article img {
  width: 200px;
  float: right;
}

.home {
  position: relative;
  width: 100%;
}

.home h2 {
  color: #fff;
  font-size: 3rem;
}

.home article{
  text-align: center;
  position: absolute;
  top: 8rem;
  background-color: var(--accent1-color);
  color: #fff;
  padding: 1rem;
  max-width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity:0.9;
}

.home a.link {
  position: absolute;
  bottom: 2px;
  display: block;
  left: 380px;
  padding: 10px;
  background-color: var(--accent2-color);
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.home a{
  color: var(--font-color-light);
}

.home h1 {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  background-color: var(--accent2-color);
  padding: 1rem;
}

.home img {
  width: 100%;
  height: auto;
}

.newsletter h2 {
  color: #fff;
  font-size: 3rem;
}

.trip {
  position: relative;
  width: 100%;
}

.trip h2 {
  color: #fff;
  font-size: 3rem;
}

.trip article{
  text-align: center;
  position: absolute;
  top: 8rem;
  background-color: var(--accent1-color);
  color: #fff;
  padding: 1rem;
  max-width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity:0.9;
}

.trip a.link {
  position: absolute;
  top: 350px;
  display: block;
  left: 380px;
  padding: 10px;
  background-color: var(--accent2-color);
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.trip a{
  color: var(--font-color-light);
}

.trip h1 {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  background-color: var(--accent2-color);
  padding: 1rem;
}

.trip img {
  width: 100%;
  height: auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  font-size: large;
  margin: 1rem auto;
  line-height: 2;
}

.trip-main{
  height: 400px;
  overflow: hidden;
}

.trip-main {
  position: absolute;
  top: 200px;
  display: block;
  left: 380px;
}

.trips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
}

.trips img {
  max-width: 100%;
  text-align: center;
}

.trips p {
  margin: 20px;
}

table {
  margin-top: 2rem;
  padding: 20px;
  font-size: small;
  width: 80%;
}
td, th {
  border: 1px solid hsl(33, 79%, 53%);
  padding: 10px;
  width: 200px;
}

th {
  font-weight: bold;
  font-size: large;
}

td {
  text-align: center;
  line-height: 1rem;
  padding: 1rem;
}

.fee-table {
  margin: 0 auto;
}

.grid img {
  width: 400px;
  height: auto;
}

.grid p {
  padding: 10%;
}

.grid hr {
  grid-column: 1/3;
  border: 2px solid var(--accent2-color);
  border-radius: 2px;
}

/* History Section */
.history {
  display: flex;
  justify-content: flex-start;
}

.history_title {
  display: flex;
  width: auto;
  margin: 10px;
  align-items: center;
  justify-content: center;

}

.newsletter {
  text-align: center;
  background-color:var(--accent1-color);
  color: #fff;
  font-weight: bold;
  padding: 2rem;
  margin: 0;
  font-size: large;
  line-height: 1.5;
}

.newsletter h2 {
  font-size: 2rem;
}

.newsletter form label {
  width: 30%;
  margin-right: 20px;
}

.newsletter form input {
  width: 30%;
  margin-right: 20px;
}


/* Adventure Awaits */
.adventure {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.adventure_title {
  display: flex;
  width: auto;
  margin: 5px;
  align-items: center;
  justify-content: center;
  
}

.adventure img {
  width: 100px;
  height: auto;
  border: 1px solid var(--back_color2);
  padding: 2px;
  box-shadow: 0 0 30px var(--back_color3);
  margin: 0;  /* IMPORTANT - Overrides div img */
}

/* Social Media Config */
.socialmedia {
  display: grid;
  width: 1000px;
  background-color: var(--accent1-color);
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

.socialmedia p{
  grid-column: 2;
}

.socialmedia img{
  width: 35px;

}

/* Contact Us */
.contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: black 1px solid;
  align-items: center;
  justify-items: center;
}

/* Contact Form */
.contact-form {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  gap: 10px;
  margin: 10px;
  width: 75%;
  height: auto;
}

.contact-form input[type=text] {
  width: 100%;
  height: 20px;
}

.contact-form input[type=email] {
  width: 100%;
  height: 20px;
}

.contact-form input[type=comment] {
  width: 100%;
  height: 50px;
}

/* Contact Info */
.contact-info {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  gap: 10px;
  margin: 10px;
}

.contact-map {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  gap: 10px;
  margin: 10px;
}

.contact-employees {
  display: flex;
  flex-direction: row;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 6;
  gap: 10px;
  margin: 10px;
  border: black 1px solid;
}

.contact-employees img {
  width: auto;
  height: 200px;
}